<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="accountDropdown" data-mdb-toggle="dropdown"
        data-mdb-display="static">
        <i class="fas fa-user"></i>
        Account
    </button>
    <ul class="dropdown-menu dropdown-menu-left dropdown-menu-dark" aria-labelledby="accountDropdown">
        <li><a class="dropdown-item" href="/user/<%= locals.username %> "><i class="fas fa-user"></i> Profile</a>
        </li>
        <li><a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i> Log out</a></li>
    </ul>
</div>