<div class="container mb-3">
    <h1 class="display-1"><i class="fas fa-search"></i> Search</h1>
    <form action="">
        <div class="form-outline w-100">
            <input type="text" name="searchTerm" id="search" class="form-control form-control-lg" required />
            <label class="form-label" for="search">Search topics, articles and users</label>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg mt-2"><i class="fas fa-search"></i> Search</button>
    </form>
    <h3 class="display-6 my-3">Results:</h3>
    <% if (locals.results) { %>
        <ul>
            <% locals.results.forEach((result) => { %>
                <li><a href="/user/<%= result.username %>">
                        <%= result.username %>
                    </a></li>
                <% }); %>
        </ul>
        <% } %>
</div>