<div class="container mb-3">
    <h1 class="display-1">
        <i class="<%= topic.icon %>"></i> <%= locals.topic.title %> topic
    </h1>
    <i class="lead">
        <strong>:</strong><%= locals.topic.description %>
    </i>
    <hr />
    <h2 class="display-7">Related Articles</h2>
</div>